@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './defaults.css';
@import './footer.css';
@import './course-box.css'; 
@import './pagination.css';
@import './breadcrumb.css';
@import './helper.css';
@import './sidebarCourse.css';

/* start article details styles */
.article{
    padding: 2.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
}
.article__title{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--dark-color);
    border-bottom: 2px solid #f3f3f3;
    padding-bottom: 1rem;
}
.article__header{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.article-header__item{
    margin-left: 2rem;
}
.article-header__icon{
    font-size: 1.7rem;
    color: #c7c7c7;
}
.article-header__text{
    font-size: 1.2rem;
    color: #8f8f8f;
}
.article__banner{
    width: 90%;
    margin-top: 4rem;
}
.article__score{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.article__score-icon{
    margin-left: -0.4rem;
}
.article__score-text{
    margin-right: 2rem;
    font-size: 1.7rem;
    color: #7d7d7f;
}
.article-read{
    background-color: #f2f2f2;
    border-radius: 3rem;
    padding: 2rem 3rem;
    margin: 3rem 0;
}
.article-read__title{
    display: block;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.article-read__link{
   line-height: 2;
   font-size: 1.5rem;
   color: #1e83f0;
}
.article-read__link:hover{
    text-decoration: underline;
}
.article__seconadary-banner{
    display: block;
    margin: 0 auto;
}
.article-section{
    margin: 5rem 0;
}
.article-section__title{
    font-size: 2.4rem;
    color: #008c25;
    font-weight: bold;
    line-height: 1.2;
}
.article-section__text{
    margin: 2rem 0;
}
.article-section__img{
    display: block;
    margin: 0 auto;
}
.article-social-media{
    display: flex;
    align-items: center;
}
.article-social-media__text{
    font-size: 1.5rem;
    color: #7d7e7f;
}
.article-social-media__link{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: #7b868a;
    text-decoration: none;
}
.suggestion-article{
    margin: 4rem 0;
    padding: 3.5rem 2.5rem;
    border-radius: 0.5rem;
    background-color: #f0f2f0;
}
.suggestion-article__content{
    display: flex;
    align-items: center;
}
.suggestion-article__right{
    position: relative;
}
.suggestion-article__left{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}
.suggestion-article__right::before{
    content: "قدیمی تر";
    position: absolute;
    top: -2rem;
    left: 2rem;
    font-size: 1.8rem;
    color: #adb5db;
    transform: rotate(180deg);
}
.suggestion-article__left::before{
    content: "جدیدتر";
    position: absolute;
    right: 2rem;
    bottom: 3rem;
    font-size: 1.5rem;
    color: #adb5db;
}
.suggestion-article__icon-link{
    color: #adb5db;
    
}
.suggestion-article__link{
    text-align: center;
    margin: 0 2rem;
    text-decoration: none;
}
.comments{
    display: flex;
    flex-direction: column;
}
.comments__title{
    color: var(--dark-color);
    font-size: 1.4rem;
}
.comments__text{
    margin: 1.5rem 0;
    font-size: 1.2rem;
}
.comments__content{
    display: flex;
    flex-direction: column;
}

.comments__content-title{
    font-size: 1.5rem;
    color: #6c757d;
}
.comments__content-textarea{
    height: 18.5rem;
    border-radius: 0.5rem;
    border: 1px solid #dcdcdc;
    box-shadow: 0 1px 3px 0 rgba(70, 72, 77, 0.8);
}
.comments__button{
    margin-top: 2rem;
    max-width: 15rem;
    padding: 0.8rem 1.7rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
/* finish article details styles */
/* start sidebar styles */
.course-info{
    overflow: hidden;
}
.course-info__courses-title{
    position: relative;
}
.course-info__courses-title::before{
content: "";
position: absolute;
width: 22px;
height: 39px;
background-color: var(--primary-color);
border-top-left-radius: 8px;
border-bottom-left-radius: 12px;
right:-27px;
transform: skewX(-10deg);
top: -5px;
}

.sidebar-articles__list{
    margin-top: 2rem;
}
.sidebar-articles__item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee; 
    padding: 0.9rem 1.3rem 0.9rem 1rem;
    transition: all 400ms ease;
}
.sidebar-articles__item:hover{
    padding: 2rem;
    background-color: #f8f9fa;
}
.sidebar-articles__item:hover .sidebar-articles__icon{
    color: var(--primary-color);
}
.sidebar-articles__icon{
    font-size: 1.4rem;
    color: #989aa7;
    transition: all 400ms ease;
}
.sidebar-articles__link{
    font-size: 1.3rem;
    margin-right: 0.5rem;
}
.last-articles__list{
    margin-top: 2rem;
}
.last-articles__item{
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}
.last-articles__link{
    font-size: 1.5rem ;
}
.course-info__courses-list-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-info__courses-list-price{
    margin-top: 0.5rem;
    color: var(--primary-color);
    font-weight: bold;

}
.article__score-icon{
    color: rgb(255, 221, 0);
    margin: 0.1px;
}
/* finish sidebar styles */
/* start Helper classes */
.paragraph{
    font-size: 1.5rem;
    line-height: 3rem;
    color: #7d7e7f;
}
/* finish Helper classes */