@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './defaults.css';
@import './footer.css';
@import './course-box.css'; 
@import './pagination.css';
@import './helper.css' ;

.Breadcrumb{
    margin-bottom: 2rem;
}
.Breadcrumb__content{
    display: flex;
    background-color: #f0f2f7;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}
.Breadcrumb__home-content-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--white-color);  
    border-radius: 1rem;
}
.Breadcrumb__home-icon{
  font-size: 1.8rem;
  color: #909aa7;   
}
.Breadcrumb__list{
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}
.Breadcrumb__item{
    display: flex;
    align-items: center ;
    
}
.Breadcrumb__link{
    display: flex;
    align-items: center;
    color: #7f8187;
    font-size: 1.5rem;
    margin-left: 1rem;
}
.Breadcrumb__icon{
    margin-right: 1rem;
    color: #7f8187;
    font-size: 1.5rem;
}
/*start course-info styles */
.course-info{
    margin-bottom: 6rem;
}
.course-info__link{
    font-size: 1.2rem;
    color: var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.4rem 1rem;
    background-color: rgba(43,206,86,0.2);
    text-decoration: none;
}
.course-info__title{
    margin: 2rem 0;
    font-weight: bold;
    font-size: 2.4rem;
    color:#464749;
}
.course-info__text{
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: #7b868a;
}
.course-info__social-media-item{
color: #b1bbbf;
margin-left: 1.7rem;
transition: all 400ms ease;
text-decoration: none;
}
.course-info__icon{
    font-size: 2rem;
}
.course-info__video{
    width: 100%;
    border-radius: 1rem;
}
/*finish course-info styles */
/* start course-boxes styles */
.course-boxes__box{
    display: flex;
    border-radius: 0.5rem;
    padding: 1.8rem 2rem;
    box-shadow: 0 5px 30px rgba(70,72,77,0.08);
    margin: 1rem 0;
}
.course-boxes__box-right{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.course-boxes__box-right-icon{
    font-size: 3.5rem;
    color: var(--primary-color);
}
.course-boxes__box-left{
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;

}
.course-boxes__box-left-title{
    font-size: 1.6rem;
    color: #858c96;
}
.course-boxes__box-left-subtitle{
    font-size: 1.6rem;
    color: #7e7d7f;
}
/* finish course-boxes styles */
/* start course-progress styles */
.course-progress{
    border-radius: 1rem;
    background-color:#f0f2f7 ;
    margin:3rem 0 ;
    padding: 2rem 2rem 1.2rem 2rem;
}
.course-progress__header{
      font-size: 2.5rem;
      color: #7b868a;
      margin-bottom: 1.5rem;
}
.course-progress__title{
    margin-right: 1.5rem;
    color: #7b868a;
    font-size: 1.5rem;
    

}
.course-progress__bar{
    border-radius: 10rem;
    height: 1rem;

}

/* finish course-progress styles */
/* start introduction styles */
.introduction{
    padding: 3rem;
    border-radius: 0.5rem ;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}
.introduction__img{
    margin-top: 3rem;
    display: block;
    border-radius: 1rem;
    width: 100%;
}
.introduction__text{
    margin-top: 2rem;
    color: #7a7a7a;
    font-size: 1.5rem;
}
.introduction__btns{
    margin-top: 4rem;
}
.introduction__btns-item{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    
}
.introduction__btns-item:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.introduction__btns{
    margin-bottom: 2rem;
}
.introduction__topic{
    margin-top: 4rem;
}
.accordion{
    margin-bottom: 2rem;
}
.accordion-item{
    background-color: #f7f9fa;
}
.accordion-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.introduction__accordion-right{
    display: flex;
    align-items: center;
}
.introduction__accordion-count{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width:15px;
    height: 15px;
    border: 1px solid #7a7a7a;
    margin-left: 1rem;
}
.introduction__accordion-link{
    text-decoration: none;
    font-size: 1.1rem;
    color: #464749;
}
.introduction__accordion-icon{
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}
/* finish introduction styles */
/* start techer-details styles */
.techer-details{
    width: 100%;
    margin-top: 1.5rem;
    padding: 2rem ;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}
.techer-details__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.techer-details__header-right{
    display: flex;
    align-items: center;
}
.techer-details__header-img{
    width: 6rem;
    height: 6rem;
    border-radius: 50px;
}
.techer-details__header-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.3rem;
}
.techer-details__header-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #262627;
    font-weight: bold;
}
.techer-details__header-skill{
   font-size: 1.2rem;
}
.techer-details__header-left{
    width: 7rem;
    height: 2.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5rem;

}

.techer-details__footer{
    margin-top: 1.2rem;
    font-size: 1.2rem;
}
/* finish techer-details styles */
/* start sidebar styles */
.courses-info{
    position: sticky;
    top: 2rem;
}
.course-info{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px rgba(70,72,77,0.08);
    border:1px solid #f2f2f2;
}
.course-info__register{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:var(--primary-color);
    color: var(--white-color);
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 12px rgba(31,189,80,36%);
}
.course-info__register-title{
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: bold;  
}
.course-info__register-icon{
    font-size: 2rem;
}
.course-info__top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 2px solid #f8f2f7;
}
.course-info__total-sale-icon{
    color: #555;
    font-size: 2.5rem;
}
.course-info__total-sale-text{
    color: #7f8187;
}
.course-info__total-sale-number{
    color: var(--white-color);
    background-color: #c4c7cf;
    border-radius: 0.5rem;
    padding: 0.3rem 1.2rem;
}
.course-info__bottom{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    color: #7b868a;
}
.course-info__total-comment , .course-info__total-view {
    position: relative;
    display: flex;
    align-items: center;
}
.course-info__total-comment::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #e5e5e5;
    left: -3rem;
}
.course-info__total-comment-icon , .course-info__total-view-icon{
    font-size: 2.2rem;
}
.course-info__total-comment-text , .course-info__total-view-text{
    font-size: 1.4rem;
    margin-right: 1rem;
}
.course-info__header-short-url{
    display: flex;
    align-items: center;
    color: #7b868a;
}
.course-info__short-url-icon{
    font-size: 2rem;
}
.course-info__short-url-text{
    font-size: 1.7rem;
    margin-right: 0.5rem;
}
.course-info__short-url{
    display: block;
    margin: 1rem 0;
    border: 1px solid #dcdcdc;
    color: #7a7a7a;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
}
.course-info__topic-title{
    display: block;
    color: var(--dark-color);
    font-size: 1.8rem;
}
.course-info__topic-text{
    font-size: 1.5rem;
    color: #7e7d7f;
}
.course-info__courses-title{
    font-size: 1.8rem;
    display: block;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}
.course-info__courses-list-item{
   margin-bottom: 2rem;
}
.course-info__courses-link{
    display: flex;
     align-items: center;
}
.course-info__courses-img{
    width: 70px;
    border-radius: 0.5rem;
}
.course-info__courses-text{
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: #8d8d8d;
    font-weight: bold;
}
/* finish sidebar styles */