.footer-widgets{
    background-color: #f0f2f7;
    border-radius: 1rem;
    padding: 4rem 3.5rem ;
    margin-bottom:5rem ;
    position: relative;
}
.footer-widgets::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 4rem;
    width: 50rem;
    background-color: var(--primary-color);
    z-index: -1;
    bottom: -1rem;
    border-radius: 5rem; 
}
.footer-widgets__title::before{
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    opacity: 0.3;
    border-radius: 0.7rem;
    right: 1rem;
    transform: rotate(45deg);

}
.footer-widgets__title{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
}
.footer-widgets__text{
    color: #7d7b7f;
    font-size: 1.3rem;
    line-height:2.5rem ;

}
.footer-widgets__links{
    display: flex;
    flex-direction: column;
}
.footer-widgets__link {
    text-decoration: none;
    color: #444446;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1rem;
    
}
.footer__copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f7;
    padding: 3rem 0;
}
.footer__copyright-text{
    color: var(--dark-color);
    font-weight: bold;
}