@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './navbar.css';
@import './defaults.css';
@import './footer.css';
@import './course-box.css'; 
/*start landing styles*/
.landing{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0, 0, 0, 0.6)), url(../images/hobby.png);

    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 9rem 0;
    color: var(--white-color);
}
.landing__title{
    font-size: 3.4rem;
    font-weight: bold;
}
.landing__subtitle{
    font-size: 1.8rem;
    margin-top: 1rem;
}
.landing__searchbar{
    width: 700px;
    position: relative;
    margin: 3.5rem auto;
}
.landing__searchbar-input{
    width: 100%;
    padding: 2.5rem;
    border: none;
    border-radius: 1rem;
}
.landing__searchbar-btn{
    width: 5rem;
    height: 5rem;
    border: none;
    background-color: var(--primary-color);
    position: absolute;
    left: 1rem;
    border-radius: 1rem;
    top: 0.7rem ;
}
.landing__searchbar-icon{
    font-size: 2.5rem;
    color: var(--white-color);
}
.landing-status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.landing-status__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statusicon{
    width: 70px;
    height: 70px;
    color: var(--white-color);  
}
.landing-status__count{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
}
.landing-status__text{
    font-weight: bold ;
}
/*finish landing styles*/

/*start courses styles*/
.courses{
    margin: 4rem 0;
}
.courses-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-header__right{
    display: flex;
    flex-direction: column;
}
.courses-header__text{
    font-size: 1.5rem;
    color: #9c9c9c;
}
.courses-header__left{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.courses-header__left>a{
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 400ms ease;
}
.courses-header__left>a:hover{
    color: var(--white-color);
}
.courses-header__link{
    color: var(--white-color);
}
.courses-header__icon{
    margin:0 5px;
}
.courses-content{
margin-top: 2rem;
}
/*finish courses styles*/

/*start About us*/
.about-us{
    margin: 6rem 0;
}
.about-us__header{
    display: flex;
    flex-direction: column;
}
.about-us__subtitle{
  color: #9c9c9c;
  font-size: 1.5rem;
}
.about-us__box{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    margin: 2rem 0;
    padding: 2rem 1.5rem;
}
.about-us__icon{ 
    color: #666;
    font-size: 6.5rem;
}
.about-us__box-left{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.about-us__box-title{
    font-weight: bold;
    font-size: 1.8rem;
}
/*finish About us*/
 /* start popular courses  */
 .popular , .presell{
    margin: 5rem 0;
 }
 .swiper-slide{
    margin: 4rem 1.3rem;
    box-sizing: 0 0 10px rgba(68,172,185,0.3);
    position: relative;
 }
 .swiper-slide>.course-box:hover{
    transform: none;
 }
 /* finish popular courses  */
/*start helper classes*/
.title{
    font-size: 2.3rem;
    color: #444446 ;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}
.title::before{
    content: "";
    position: absolute;
    right: -1rem;
    width: 0.4rem;
    height: 4.4rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    transform: rotate(8deg);
}
.title::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 250px;
    height: 60%;
    background-color: rgba(43,206,86,0.2);
}
.course-box__footer-icon{
    color: var(--primary-color);
}
/*finish helper classes*/
/*start articles styles*/
.articles{
    margin: 4rem 0;
}
.articles-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles-header__right{
    display: flex;
    flex-direction: column;
}
.articles-header__text{
    font-size: 1.5rem;
    color: #9c9c9c;
}
.articles-header__left{
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.articles-header__left>a{
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 400ms ease;
}
.articles-header__left>a:hover{
    color: var(--white-color);
}

.articles-header__link{
    color: var(--white-color);
}
.articles-header__icon{
    margin:0 5px;
}
.article-card{
    margin: 3rem 0;
    transition: all 400ms ease;
    border-radius: 1rem;
    box-shadow: 0 5px 30px rgba(70,72,77,0.08);
}
.article-card:hover{
    transform: translateY(-0.6rem);
}
.article-card__img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}
.article-card__content{
    padding: 1rem 2rem 3rem 2rem;
}
.article-card__link{
    font-weight: bold;
    text-decoration: none;
    color: #444446;
    font-size: 1.5rem;
}
.article-card__text{
    color: #898989;
    font-size: 1.2rem;
    padding: 1rem 0 2.5rem 0;
}
.article-card__btn{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 400ms ease;
    text-decoration: none;
}
.article-card__btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
/*finish articles styles*/
