.courses-info{
    position: sticky;
    top: 2rem;
}
.course-info{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 2.2rem;
    box-shadow: 0 0 13px 1px rgba(70,72,77,0.08);
    border:1px solid #f2f2f2;
}
.course-info__topic-title{
    display: block;
    color: var(--dark-color);
    font-size: 1.8rem;
}
.course-info__topic-text{
    font-size: 1.5rem;
    color: #7e7d7f;
}
.course-info__courses-title{
    font-size: 1.8rem;
    display: block;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}
.course-info__courses-list-item{
   margin-bottom: 2rem;
}
.course-info__courses-link{
    display: flex;
     align-items: center;
}
.course-info__courses-img{
    width: 70px;
    border-radius: 0.5rem;
}
.course-info__courses-text{
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: #8d8d8d;
    font-weight: bold;
}